{% extends 'base.html' %}
<head>
		{% block head %}
		<title>Complaint Box | contact</title>
		{% endblock %}
	</head>
{% block sai%}
{% endblock %}
{% block body %}
<body>
	<style>
	  legend
{
font-size:30px;
  text-align: center;
}
	div.center {
    margin:auto;
    width: 70%;
    padding: 60px;
    font-size: 100%;
  font-family: verdana;
    text-align: center;
}
</style>
<div class="center">
<legend>ABOUT US</legend>
<p>DEVELOPERS</p>
<p>V.SAI KUMAR</p>
<p>CHAITHANYA BHARATHI INSTITUTE OF TECHNOLOGY</p>                   
</div>
</body>
{% endblock %}
