{% extends 'base.html' %}
<head>
		{% block head %}
		<title>Complaint Box | poll status</title>
		{% endblock %}
</head>
{% block sai %}
{% endblock %}
{% block chintu %}
{% endblock %}
{% block body %}
<hr><hr><hr>
<style>
div.card {
    margin:auto;
    padding: 20px;
    text-align: left;
    font-size: 100%;
    font-family: verdana;
    font-style: italic;
    width: 110rem;
}
  legend
{
  font-size:30px;
  text-align:left;
  font-family: verdana;
}
</style>

<body>

<!--<div class="container">
	<legend>Polls:</legend>

	{% for lect in lect %}
	  <li class="list-group-item">Poll no : {{lect.pollno}}</li>
<div class="card">
		<ul class="list-group list-group-flush">
    <li class="list-group-item">Lecturer-Name : {{lect.name}}</li>
    <li class="list-group-item">Votes = {{lect.votes}} </li>
  </ul>
</div>
   {% endfor %}
</div>-->


{% endblock %}
